*.bak
*.txt
#*.vm

.amateras
.log
**/.settings/

# Intellij project files
*.iml
*.ipr
*.iws
.idea/
.target/
.target/*

# Eclipse project files
.classpath
.project

# Java class files
*.class
*.jar
# files for the dex VM
*.dex

# built application files
*.apk
*.ap_

#svn
.svn/